body {
    margin: 0px auto;
    background: linear-gradient(#fff, #ccc);
    font-family: "Comfortaa";
}

header {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

#images {
    width: 300%;
    height: 100%;
    position: absolute;
    animation: fade 5s infinite ease alternate;
    margin: 0px auto;
}

#images li {
    list-style: none;
    float: left;
    margin-left: 0px;
    width: 33.333%;
    height: 100%;
    background-size: cover;
}

@keyframes fade {
    0% {
        margin-left: 0%;
    }
    28% {
        margin-left: 0%;
    }
    33% {
        margin-left: -100%;
    }
    61% {
        margin-left: -100%;
    }
    66% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

.one {
    background: url(https://raw.githubusercontent.com/theinfinox/theinfinox.github.io/main/images/1.jpg)no-repeat center fixed;
}

.two {
    background: url(https://raw.githubusercontent.com/theinfinox/theinfinox.github.io/main/images/2.jpg)no-repeat center fixed;
}

.three {
    background: url(https://raw.githubusercontent.com/theinfinox/theinfinox.github.io/main/images/3.jpg)no-repeat center fixed;
}

#menu {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 1px 1px 15px #000;
    z-index: 100;
    position: absolute;
    margin: 0px auto;
}

#menu li {
    float: left;
    margin-right: 60px;
    margin-top: 8px;
    list-style: none;
}

#menu a {
    font-weight: 100;
    font-size: 20px;
    color: brown;
    text-decoration: none;
}

#menu li:hover {
    transform: scale(1.2);
    transition: 1s;
}

section {
    width: 100%;
    height: 700px;
    background-color: #fff;
}

iframe {
    margin: 0px auto;
    display: block;
}

#name a {
    width: 300px;
    height: 100px;
    position: absolute;
}

#name img {
    width: 100%;
    height: 100%;
    background-size: cover;
}